$green-main:#30ca73;
$gray-border:#d7d7d7;
$dark-gray:#a4a4a3;
$light-gray:#f6f6f4;
$font-color:#f4f4f4;
$blue:#1385b2;
body {
    background-color: $font-color;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    background: white;
    display: block;
    width: 100%;
    border: solid transparent;
    text-align: center;
    position: relative;
}

.welcome-client {
    color: $blue;
    text-align: right;
    font-weight: 700;
    width: 90%;
}

textarea {
    font-family: 'Lato', sans-serif;
}

.full-text-area::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $green-main;
    opacity: 1;
    /* Firefox */
    font-family: 'Lato', sans-serif;
}

.full-text-area:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $green-main;
    font-family: 'Lato', sans-serif;
}

.full-text-area::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $green-main;
    font-family: 'Lato', sans-serif;
}

textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;
    /* Firefox */
    font-family: 'Lato', sans-serif;
    color: $dark-gray;
}

textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Lato', sans-serif;
    color: $dark-gray;
}

textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Lato', sans-serif;
    color: $dark-gray;
}

textarea.full-text-area {
    width: calc(100% - 15px);
    min-height: 29px;
    border-bottom: 1px solid #f1f1f1;
    border-top: none;
    border-left: 0;
    border-right: 0;
    padding: 25px 0 0px 15px;
    margin: auto;
    display: block;
}

.btn {
    background-color: $green-main;
    width: 100%;
    display: inline-block;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: white;
    margin: 20px 10px;
}

.wrapper {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.btn-container-right {
    text-align: right;
}

.box {
    border: 1px solid $gray-border;
    background-color: white;
}

.user-name {
    color: $green-main;
    margin: 0;
    font-weight: 600;
}

.publication-time {
    color: $dark-gray;
    margin: 2px auto;
    font-size: 12px;
}

.comment {
    color: black;
    font-size: 14px;
}

.avatar-container {
    width: 20%;
    max-width: 60px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.comment-container {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}

.reaction-box {
    width: 100%;
    padding-left: 80px;
    margin: 0px 0px 20px auto;
}

.reaction-btn {
    color: $green-main;
    text-decoration: none;
    margin: 10px 30px 10px 0;
}

.reaction-count {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.reaction-count img {
    max-width: 75px;
    margin: auto;
}

.comment-count {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 15px;
    color: $dark-gray;
}

.box {
    .noborder {
        border: none;
    }
}

.bg-gray {
    background-color: $light-gray;
}

.comment-box-group .publication-time {
    color: #a4a4a3;
    margin: 2px auto;
    font-size: 12px;
    display: block;
}

.comment-box-group .user-name {
    color: #30ca73;
    margin: 0;
    font-weight: 600;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.comment-box-group .comment {
    color: black;
    font-size: 14px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.comment-box-group {
    textarea {
        width: calc(100% - 15px);
        min-height: 29px;
        border: 1px solid #f1f1f1;
        padding: 25px 0 0px 15px;
        margin: 20px auto;
        display: block;
    }
}

.mt-20 {
    margin-top: 20px;
}

.no-side-border {
    border-right: none;
    border-left: none;
}

.menu-icon {
    display: none;
}

.menu-space {
    display: none;
}
.bx-shadow
{
    -webkit-box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.08);
    box-shadow: -2px 7px 5px 0px rgba(0,0,0,0.08);
}
@media screen and (max-width: 480px) {
    .comment-container {
        width: 72%;
    }
    .avatar-container {
        width: 20%;
        max-width: 45px;
    }
    .comment-box-group .comment {
        font-size: 12px;
        width: 75%;
        margin: 0;
        vertical-align: top;
    }
    .comment-box-group .user-name {
        font-size: 12px;
    }
    .btn-container-right {
        text-align: center;
    }
    .special-box {
        background-color: transparent;
        border: none;
    }
    .reaction-box {
        width: 100%;
        padding-left: 0;
        margin: 0;
    }
    .reaction-btn {
        text-decoration: none;
        margin: auto;
        display: inline-block;
        box-sizing: border-box;
        width: 50%;
        text-align: center;
        border: 1px solid #d7d7d7;
        border-bottom: none;
        padding: 20px 0;
    }
    .menu-icon {
        display: block;
        max-width: 30px;
        position: absolute;
        right: 25px;
        top: 10px;
    }
    .welcome-client {
        display: none;
    }
    .header {
        position: fixed;
    }
    .menu-space {
        height: 50px;
        display: block;
    }
    .bx-shadow-none
    {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}